{% extends "base.html" %}

{% block title %}
	Home
{% endblock title %}

{% block home-active %}
	active
{% endblock home-active %}

{% block body %}

    <div class="container mt-4">
        
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <div class="col-12 px-0">
                <h1 class="display-4 font-italic text-center">CodeTalks</h1>
                <p id="logo" class="text-center h3" style="color: rgb(184, 119, 236); font-family:monospace;"></p>
                <script>
                    var i = 0;
                    var txt = "Where someone's code talk to someone else's code.";
                    
                    window.onload = function typeWriter() {
                        if (i < txt.length) {
                            document.getElementById("logo").innerHTML += txt.charAt(i);
                            i++;
                            setTimeout(typeWriter, 70);
                        }
                    }
                </script>
            </div>
        </div>
        
        {% load humanize %}
        <div class="row mb-2 bg-transparent">
            {% for ques in questions %}
                <div class="col-md-6">
                    <div class="row no-gutters bg-light border rounded overflow-hidden flex-md-row mb-4 shadow shadow-success position-relative" style="height: 170px;">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">{{ ques.field }}</strong>
                            <h5 class="mb-0" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ ques.topic }}</h5>
                            <div class="mb-1 text-muted">{{ ques.timestamp|naturaltime }}</div>
                            <a href="/question/{{ ques.topic|slugify }}" class="stretched-link h5 font-weight-bold text-decoration-none">Continue reading</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock body %}